form.login_form
	.login_title.app_title
		h1 Login
	.login_title__row
		input.login_title__input(type='text' value='Login')
	.login_title__row
		input.login_title__input(type='text' value='Password')
	.login_title__button Sign in