.header_bg
.header_image
header.header
    .logo
    .slogan Весь спектр строительных услуг "под ключ"
    .header__contacts
        ul
            li
                a(href="#" ) email@jgroup.ru
            li
                a(href="#" ) 8 (234) 24 11 362
            li
                a(href="#" ) ?

    nav.header__nav
         ul(class="reveal")
            li
                a(href="#" ) ГЛАВНАЯ
            li
                a(href="#" ) УСЛУГИ
            li
                a(href="#" ) О КОМПАНИИ
            li
                a(href="#" ) ПРОЕКТЫ
            li
                a(href="#" ) ПОРТФОЛИО
            li
                a(href="#" ) БЛОГ
            li
                a(href="#" ) КОНТАКТЫ
