extends layouts/default
block variables
	- var title = "JGROUP"

block content
	.header_bg
	.container
		include ../blocks/modules/header/header
		include ../blocks/modules/section-tabs/section-tabs

		include ../blocks/modules/footer/footer
