body {
	font-family: "Century Gothic", sans-serif;
	font-size: 16px;
	width: 100vw;
	height: 100vh;
}

.header_bg {
	background: #321923 linear-gradient(0deg, rgba(50, 25, 35, 0) 0.4%,
					rgba(50, 25, 35, 0.7) 45%,
					rgba(50, 25, 35, 0.5) 55%,
					rgba(50, 25, 35, 0) 99.6%);
	z-index: -1;
	width: 100vw;
	height: 660px;

	//background-image: url("");

}


.container {

	display: grid;
	grid-template-columns:
					minmax(1em, 1fr)
					[main-start] minmax(0, 73.125rem) [main-end]
					minmax(1em, 1fr) ;
	grid-template-areas: "header content header";
	max-width:100vw;
	margin:auto;
	box-shadow: 0 0 12px rgba(0,0,0,.25);


}

.container > * {
	grid-column: main;
}